body{
    padding-top: 60px;
}

/*---------------------MAIN------------------------*/

main{
    width: 100%;
    height: fit-content;
    margin: 0;
}

.main-content{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.main-left{
    width: 65%;
    margin-left: 0;
    padding: 3px;
}

.main-right{
    width: 35%;
    margin-left: 5px;
    padding: 5px;
}

/*----------MAIN HEADER------------------*/

.main-header{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background-color: #323232;
}

.main-header-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.main-header-content span.main-header-text{
    margin-left: 10px;
}

.main-header-content button{
    margin-right: 10px;
    color: #fff;
    background: none;
    border: none;
    font-size: 20px;
}

/*---------------ETAPAS---------------*/

.project-steps{
    width: 100%;
    height: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.step{
    width: 100%;
    height: fit-content;
    border: 1px solid;
    border-radius: 15px;
    background-color: #323232;
    color: #fff;
}

.step a{
    color: #fff;
}

.step-header{
    width: 100%;
    height: 40px;
    border: 1px solid;
}

.step-main-content{
    width: 100%;
    height: 250px;
    border: 1px solid;
}

.step-footer{
    width: 100%;
    height: 40px;
    border: 1px solid;
}

/*-----------------MENU DIREITO-------------------------*/

.side-menu{
    width: 34.5%;
    height: 87vh;
    position: fixed;
    border-radius: 15px;
    background-color: #222;
    color: #fff;
}

.side-menu a{
    color: #fff;
}

.side-menu-content{
    width: 95%;
    height: 95%;
    margin: 15px 0 0 15px;
}

.side-menu-header{
    width: 100%;
    height: fit-content;
}

.menu-header-people{
    height: 80px;
    overflow-y: auto;
    font-size: 17px;
}

.menu-header-people span{
    margin-bottom: 5px;
}

.menu-header-people::-webkit-scrollbar{
    background: transparent;
    border: none;
    width: 10px;
}
.menu-header-people::-webkit-scrollbar-thumb{
    background-color: #323232;
    border-radius: 15px;
}

.menu-header-date{
    margin: 7px 0 7px 0;
}

.menu-desc{
    width: 100%;
    height: 60%;
    overflow-y: auto;
    margin-bottom: 7px;
}

.menu-desc::-webkit-scrollbar{
    background: transparent;
    border: none;
    width: 10px;
}
.menu-desc::-webkit-scrollbar-thumb{
    background-color: #323232;
    border-radius: 15px;
}